In [80]:
import numpy as np
import pandas as pd
import pickle as pkl
import os
import sys
sys.path.append(r'C:\Users\user\workspace\scikit-optimize')
sys.path.append(r'C:\Users\user\workspace\scikit-optimize\skopt')

from simulator import Simulator
from planners import GreedyPlanner, ShortestProcessingTime, DedicatedResourcePlanner, PPOPlanner, Bayes_planner
import pandas as pd

running_time = 5000
import numpy as np
import pickle as pkl

import random
from abc import ABC, abstractmethod
# from sb3_contrib.ppo_mask import MaskablePPO
import numpy as np
from typing import List
import pandas as pd
import numpy as np
from enum import Enum, auto
from collections import deque
import random
from planners import GreedyPlanner
import json

In [85]:
path = r'C:\Users\user\workspace\bpo_toy_problem'
files = os.listdir(path)

files = [file for file in files if 'complete_system' in file]

In [86]:
files

['945complete_system.pkl']

In [ ]:
results_path = os.path.join(path, files[0])
reuslt_

In [62]:
simulator = pkl.load(open('simulator.pkl', 'rb'))
res = pkl.load(open('res_slow.pkl', 'rb'))

In [77]:

res = pkl.load(open('17385_res_low_utilization.pkl', 'rb'))

In [79]:
res[1]

[[2.4883183323632467,
  4.089192205582848,
  3.0605594733863546,
  3.856799594312006,
  4.303348856888437,
  8.95828055287924],
 [0.9925937951308552,
  4.075814670255012,
  0.7940767659221827,
  0.5806891380927438,
  0.06453765559923332,
  13.328834763802725],
 [1.6550771412514906,
  4.013197845602437,
  0.4912596777527102,
  0.27996724482935503,
  2.2133132447961144,
  7.287870876839355],
 [4.381994502219106,
  4.429832042989502,
  0.4920014341663059,
  1.5241329678243858,
  2.3687843516853437,
  8.218690161250413],
 [4.588166452756962, 3.634079121013234, 5.0, 5.0, 5.0, 13.712720624873093],
 [0.3944248570964263,
  3.0507438532242785,
  2.0656614201573475,
  1.9742919805820742,
  3.516458295067057,
  11.84144487499018],
 [2.559840021962593, 3.843095352756683, 5.0, 5.0, 5.0, 20.0],
 [1.9990759140978298,
  0.0003339795425710835,
  0.8225481067431052,
  3.6699956421346025,
  0.1657200214011856,
  19.10915222307989],
 [0.9888980830707359,
  3.9348478906439546,
  3.76821129514527,
  4.370286461478045,
  2.447425832734032,
  13.351047228336785],
 [3.2893376833422905,
  0.04860531560067165,
  0.49137895114322994,
  2.0892660233554223,
  2.1706531001872316,
  10.18878180989117],
 [1.1955948653482538,
  1.7341567467695416,
  2.200706859934882,
  0.793337815523774,
  2.228365121828953,
  16.85260571468296],
 [1.6807859315764384,
  4.4407949159529725,
  0.6774295848453917,
  3.3480234093540733,
  0.04562066801743947,
  14.08472658575176],
 [4.203126703840104,
  4.258470370656002,
  4.217247003827552,
  4.429605548791203,
  4.374978314496809,
  8.932482513065791],
 [1.3505799212367178, 1.7251025987875412, 0.0, 0.0, 5.0, 7.0],
 [0.5535721370192921,
  3.4986340948486054,
  3.588751794425011,
  3.3572606830905616,
  4.249023834390434,
  8.090644621633503]]

In [71]:

res = pkl.load(open('35571_res_n_system.pkl', 'rb'))

ModuleNotFoundError: No module named 'scipy.optimize._optimize'

In [64]:
res.func_vals

array([10.43879991,  5.09188916, 33.5502984 ,  4.76479367])

In [4]:
res.space

Space([Real(low=0, high=5, prior='uniform', transform='normalize'),
       Real(low=0, high=5, prior='uniform', transform='normalize'),
       Real(low=0, high=5, prior='uniform', transform='normalize'),
       Real(low=0, high=5, prior='uniform', transform='normalize'),
       Real(low=0, high=5, prior='uniform', transform='normalize'),
       Real(low=10, high=15, prior='uniform', transform='normalize')])

In [76]:
res.x_iters

[[2.4883183323632467,
  4.089192205582848,
  3.0605594733863546,
  3.856799594312006,
  4.303348856888437,
  8.95828055287924],
 [0.9925937951308552,
  4.075814670255012,
  0.7940767659221827,
  0.5806891380927438,
  0.06453765559923332,
  13.328834763802725],
 [1.6550771412514906,
  4.013197845602437,
  0.4912596777527102,
  0.27996724482935503,
  2.2133132447961144,
  7.287870876839355],
 [2.2318941181869087,
  4.132617355906934,
  0.7820617966962697,
  0.8531819918352211,
  4.2802261388112735,
  18.80795709258492],
 [5.0, 0.0, 5.0, 5.0, 0.681481066689476, 7.0],
 [0.0, 3.0777972487129244, 0.0, 0.0, 0.0, 20.0],
 [0.0, 5.0, 0.0, 0.0, 0.0, 7.0],
 [5.0, 3.869655353328999, 5.0, 2.838147363775929, 0.0, 10.313202463819424],
 [0.0, 3.9261298083256553, 5.0, 0.0, 0.0, 7.0],
 [5.0, 3.9373187015113493, 0.0, 5.0, 0.0, 7.0],
 [0.0, 3.5709729142231943, 2.546561324057649, 0.0, 5.0, 20.0],
 [0.0, 0.0, 3.4194410395221135, 2.2074982920997743, 0.0, 7.0],
 [5.0, 5.0, 1.2477119636328107, 0.0, 5.0, 20.0],
 [0.0, 0.0, 5.0, 3.793810403006827, 5.0, 7.0],
 [0.0, 5.0, 3.812446400231515, 3.381230363896013, 0.0, 20.0]]

In [74]:
type(res.x_iters)

numpy.ndarray

In [4]:
tasks = [key for key in simulator.resource_pools.keys()]

In [8]:
tasks[0]

'Task A'

In [16]:
simulator.resource_pools[tasks[0]][key][0]

1.4

In [13]:
for key in simulator.resource_pools[tasks[0]].keys():
    print(key)

Resource 1
Resource 2

In [14]:
key

'Resource 2'

In [27]:
df = pd.DataFrame([])

for ind in range(len(tasks)):
    df.loc[ind, 'task'] = tasks[ind]
    df.loc[ind, 'prob_finish'] = simulator.transitions[tasks[ind]][-1]
    for key in simulator.resource_pools[tasks[ind]].keys():
        df.loc[ind, key] = simulator.resource_pools[tasks[ind]][key][0]

In [21]:
df.loc[df['task'] == 'Task A',key].item()

1.4

In [28]:
df

     task  prob_finish  Resource 1  Resource 2
0  Task A          0.0         1.8         1.4
1  Task B          1.0         1.4        25.0

In [24]:
simulator.transitions['Task A']

[0, 1, 0]

In [26]:
simulator.transitions['Task B'][-1]

1

In [37]:
a1 = 1
a2 = 3

curr_task =  'Task A'
curr_res = key

mean_val = df.loc[df['task'] == curr_task, curr_res].item()
prob_fin = df.loc[df['task'] == curr_task, 'prob_finish'].item()

a1*mean_val - a2*prob_fin

1.4

In [38]:
available_tasks = pkl.load(open('available_task.pkl', 'rb'))

In [48]:
available_tasks[0]

In [49]:
dff = pd.DataFrame([])

dff.loc[0,'task'] = available_tasks[0]

In [50]:
dff

                                            task
0  <simulator.Task object at 0x000001B3673B1D48>

In [41]:
queue_len = {}
keys_lens = [key for key in queue_len]
for ind in range(len(available_tasks)):
    print(available_tasks[ind].task_type)
    if available_tasks[ind].task_type in keys_lens:         
        queue_len[available_tasks[ind].task_type] += 1
    else:
        queue_len[available_tasks[ind].task_type] = 1
        keys_lens = [key for key in queue_len]

Task A
Task A
Task B

In [40]:
queue_len = {}
keys_lens = [key for key in queue_len]
keys_lens

[]

In [43]:
queue_len['Task A']

2

In [73]:
df.loc[df['task'] == 'Task B', ['Resource 1', 'Resource 2']]

   Resource 1  Resource 2
1         1.4        25.0

In [77]:
df

     task  prob_finish  Resource 1  Resource 2
0  Task A          0.0         1.8         1.4
1  Task B          1.0         1.4        25.0

In [75]:
df.loc[df['task'] == task, 'Resource 1'].item()

1.8

In [83]:
task

'Task A'

In [84]:
task_ranking = {}
task_ranking[task] = 1

In [81]:
task_ranking, task

(['Resource 2', 'Resource 1'], 'Task A')

In [85]:
task_ranking_dict = {}

Tasks_names = ['Task A', 'Task B']

for task in Tasks_names:

    if df.loc[df['task'] == task, 'Resource 1'].item() < df.loc[df['task'] == task, 'Resource 2'].item():
        task_ranking = ['Resource 1', 'Resource 2']
    else:
        task_ranking = ['Resource 2', 'Resource 1']
    
    task_ranking_dict[task] = task_ranking
    
    print(task, task_ranking)

resourse_ranking_dict = {}

res_names = ['Resource 1', 'Resource 2']

for res in res_names:

    if df.loc[df['task'] == 'Task A', res].item() < df.loc[df['task'] == 'Task B' , res].item():
        res_ranking = ['Task A', 'Task B']
    else:
        res_ranking = ['Task B', 'Task A']
    
    resourse_ranking_dict[res] = res_ranking

Task A ['Resource 2', 'Resource 1']
Task B ['Resource 1', 'Resource 2']

In [100]:
resourse_ranking_dict['Resource 1'][0]

'Task B'

In [109]:
resourse_ranking_dict.keys(), resourse_ranking_dict['Resource 1'][0]

(dict_keys(['Resource 1', 'Resource 2']), 'Task B')

In [103]:
resource_ranking_dict_score = {}

for key in resourse_ranking_dict.keys():
    resource_ranking_dict_score[(key, resourse_ranking_dict['Resource 1'][0])] = 1
    resource_ranking_dict_score[(key, resourse_ranking_dict['Resource 1'][1])] = 2

task_ranking_dict_score = {}

for key in resourse_ranking_dict.keys():
    task_ranking_dict_score[(key, task_ranking_dict['Task A'][0])] = 1
    task_ranking_dict_score[(key, task_ranking_dict['Task B'][1])] = 2

In [104]:
resource_ranking_dict_score

{('Resource 1', 'Task B'): 1,
 ('Resource 1', 'Task A'): 2,
 ('Resource 2', 'Task B'): 1,
 ('Resource 2', 'Task A'): 2}

In [105]:
task_ranking_dict_score = {}

for key in resourse_ranking_dict.keys():
    task_ranking_dict_score[(key, task_ranking_dict['Task A'][0])] = 1
    task_ranking_dict_score[(key, task_ranking_dict['Task B'][1])] = 2

In [93]:
resourse_ranking_dict = {}

res_names = ['Resource 1', 'Resource 2']

for res in res_names:

    if df.loc[df['task'] == 'Task A', res].item() < df.loc[df['task'] == 'Task B' , res].item():
        res_ranking = ['Task A', 'Task B']
    else:
        res_ranking = ['Task B', 'Task A']
    
    resourse_ranking_dict[res] = res_ranking
    
    print(res, resourse_ranking_dict)

Resource 1 {'Resource 1': ['Task B', 'Task A']}
Resource 2 {'Resource 1': ['Task B', 'Task A'], 'Resource 2': ['Task A', 'Task B']}

In [94]:
resourse_ranking_dict

{'Resource 1': ['Task B', 'Task A'], 'Resource 2': ['Task A', 'Task B']}

In [87]:
task_ranking_dict[task]

['Resource 1', 'Resource 2']

In [47]:
new_df = df.sort_values(by=['Resource 1']).reset_index()
new_df.loc[0,:]

index               1
task           Task B
prob_finish       1.0
Resource 1        1.4
Resource 2       25.0
Name: 0, dtype: object

In [ ]:
task_ranking = {}
task_ranking['Task A'] = []

In [65]:
new_df

   index    task  prob_finish  Resource 1  Resource 2
0      1  Task B          1.0         1.4        25.0
1      0  Task A          0.0         1.8         1.4

In [68]:
for ind in range(1,3):
    print(new_df.loc[0, 'Resource '+str(ind)])

1.4
25.0

In [2]:
df = pkl.load(open(r'df.pkl', 'rb'))

In [3]:
df

,task,prob_finish,Resource 1,Resource 2,Resource 3,Resource 4,Resource 5,Resource 6,Resource 7,Resource 8,Resource 9,Resource 10
0,Task A,0.0,1.4,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Task B,0.0,1.6,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Task C,0.0,NaN,NaN,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Task D,0.0,NaN,NaN,NaN,2.4,NaN,NaN,NaN,NaN,NaN,NaN
4,Task E,0.0,NaN,NaN,NaN,NaN,1.6,1.4,NaN,NaN,NaN,NaN
5,Task F,0.0,NaN,NaN,NaN,NaN,1.4,1.6,NaN,NaN,NaN,NaN
6,Task G,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.8,NaN,NaN
7,Task H,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.8,2.0,NaN,NaN
8,Task I,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6,1.6
9,Task J,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8,1.8

In [4]:
tasks = pkl.load(open('tasks.pkl', 'rb'))
tasks

['Task A',
 'Task B',
 'Task C',
 'Task D',
 'Task E',
 'Task F',
 'Task G',
 'Task H',
 'Task I',
 'Task J']

In [ ]:
for task in Tasks_names:

    if df.loc[df['task'] == task, 'Resource 1'].item() < df.loc[df['task'] == task, 'Resource 2'].item():
        task_ranking = ['Resource 1', 'Resource 2']
    else:
        task_ranking = ['Resource 2', 'Resource 1']

    task_ranking_dict[task] = task_ranking

In [10]:
aa = np.array(df.loc[df['task'] == tasks[0], :])

array([['Task A', 0.0, 1.4, 1.8, nan, nan, nan, nan, nan, nan, nan, nan]],
      dtype=object)

In [12]:
df.loc[df['task'] == tasks[0], :]

,task,prob_finish,Resource 1,Resource 2,Resource 3,Resource 4,Resource 5,Resource 6,Resource 7,Resource 8,Resource 9,Resource 10
0,Task A,0.0,1.4,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:

res_list

['Resource 1',
 'Resource 2',
 'Resource 3',
 'Resource 4',
 'Resource 5',
 'Resource 6',
 'Resource 7',
 'Resource 8',
 'Resource 9',
 'Resource 10']

In [41]:
res_list = [col for col in list(df.columns) if 'Resource' in col]

curr_df = pd.DataFrame([])
for ind, res in enumerate(res_list):
    curr_df.loc[ind, 'Resource'] = res
    curr_df.loc[ind, 'time'] = df.loc[df['task'] == tasks[4], res].item()
    
    
curr_df = curr_df.sort_values(by=['time'])
curr_df = curr_df.reset_index()
task_ranking = []

for ind in range(curr_df.shape[0]):
    if curr_df.loc[ind, 'time'].item()>0:
        task_ranking.append(curr_df.loc[ind, 'Resource'])
    # print(curr_df.loc[ind:ind+1, 'time'].isna().item())
task_ranking

In [61]:

for res in res_list:
    
    num_none_nan = np.sum(df.sort_values(by=[res])[res]>0)
    print(res, list(df.sort_values(by=[res])['task'][:num_none_nan]))

Resource 1 ['Task A', 'Task B']
Resource 2 ['Task A', 'Task B']
Resource 3 ['Task C']
Resource 4 ['Task C', 'Task D']
Resource 5 ['Task F', 'Task E']
Resource 6 ['Task E', 'Task F']
Resource 7 ['Task H', 'Task G']
Resource 8 ['Task G', 'Task H']
Resource 9 ['Task I', 'Task J']
Resource 10 ['Task I', 'Task J']

In [60]:
df

,task,prob_finish,Resource 1,Resource 2,Resource 3,Resource 4,Resource 5,Resource 6,Resource 7,Resource 8,Resource 9,Resource 10
0,Task A,0.0,1.4,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Task B,0.0,1.6,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Task C,0.0,NaN,NaN,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Task D,0.0,NaN,NaN,NaN,2.4,NaN,NaN,NaN,NaN,NaN,NaN
4,Task E,0.0,NaN,NaN,NaN,NaN,1.6,1.4,NaN,NaN,NaN,NaN
5,Task F,0.0,NaN,NaN,NaN,NaN,1.4,1.6,NaN,NaN,NaN,NaN
6,Task G,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.8,NaN,NaN
7,Task H,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.8,2.0,NaN,NaN
8,Task I,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6,1.6
9,Task J,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8,1.8

In [44]:
curr_df.loc[ind, 'time'].item()>0

False

In [57]:
list(df.sort_values(by=['Resource 5'])['task'][:2])

['Task F', 'Task E']